<div class="row">
  <div class="col-md-5">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Documents</span>
      <a class="btn btn-success pull-right"
         (click) = "onNewDocument()">Add Document</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">
      <app-document-list></app-document-list>
    </div>
  </div>
</div>
  </div>
  <div class="col-md-4">
      <router-outlet></router-outlet>
  </div>
</div>



